<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qqairport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DangNhapActivity"
            android:noHistory="true"></activity>
        <activity android:name=".DanhSachKhuHoi" />
        <activity android:name=".XacNhanDatVeThanhCong" />
        <activity android:name=".ThongTinNguoiBay"></activity>
        <activity android:name=".DanhSachMotChieu" />
        <activity android:name=".ChonGheActivity" />
        <activity android:name=".CamOnCheckinActivity" />
        <activity android:name=".ThongTinNhaHangActivity" />
        <activity android:name=".GioHangActivity" />
        <activity android:name=".ThanhToanActivity"/>
        <activity android:name=".CamOnDatXeActivity"/>
        <activity android:name=".ChoTAiXeActivity"/>
        <activity android:name=".ThongTinTheActivity"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>